@use "./font" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  @include fontHeader-Mobile;

  @include tablet {
    @include fontHeader-Desktop
  }
}
h2 {
  @include fontHeader-Mobile;
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  @include tablet {
    @include fontSectionHeader-Desktop
  }
}
h3 {
  @include fontSubheader-Mobile;

  @include tablet {
    @include fontSubheader-Desktop
  }
}
body p {
  @include fontBody-Mobile;

  @include tablet {
    @include fontBody-Desktop
  }
}
main p {
  padding: 1rem 0;
}
