@use "./font" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  @include fontHeader-Mobile;
  padding-left: 1rem;

  @include tablet {
    @include fontHeader-Desktop;
    padding-left: 2.25;
  }

  @include desktop {
    padding-left: 5rem;
  }
}
h2 {
  @include fontHeader-Mobile;
  @include paddingMobile;
  padding-left: 1rem;

  @include tablet {
    @include fontSectionHeader-Desktop;
    @include paddingDesktop;
    padding-left: 2.25rem;
  }
  @include desktop {
    padding-left: 5rem;
  }
}
h3 {
  @include fontBody-Mobile;
  @include paddingMobile;

  @include tablet {
    @include fontSubheader-Desktop;
    @include paddingDesktop;
  }
}
body p {
  @include fontBody-Mobile;

  @include tablet {
    @include fontBody-Desktop;
  }
}
main p {
  padding-bottom: 1rem;
}
