@use "./font" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: $primaryWhite;
  z-index: 4;
  @include fontHeader-Mobile;
  padding-left: 1rem;

  @include tablet {
    @include fontHeader-Desktop;
    padding-left: 2.25;
  }
  @include desktop {
    padding-left: 5rem;
  }
}
h2 {
  @include fontHeader-Mobile;
  @include paddingMobile;
  padding-left: 1rem;

  @include tablet {
    @include fontSectionHeader-Desktop;
    @include paddingDesktop;
    padding-left: 2.25rem;
  }
  @include desktop {
    padding-left: 5rem;
  }
}
h3 {
  @include fontBody-Mobile;
  @include paddingMobile;

  @include tablet {
    @include fontSubheader-Desktop;
    @include paddingDesktop;
  }
}
body p {
  @include fontBody-Mobile;

  @include tablet {
    @include fontBody-Desktop;
  }
}
main p {
  padding-bottom: 1rem;
}
// Header
.header {
  &--color {
    background-color: $primaryBlack;
  }
  &__logo {
    @include flexCenter;
    padding: 1rem;
    @include tablet {
      padding-left: 2.25rem;
    }
    @include desktop {
      padding: 0rem 1rem 0rem 5rem;
    }
  }
  &--align {
    max-height: 1.25rem;
    max-width: 7.5rem;
  }
  &__text {
    @include flexCenter;
    @include fontHeader-Mobile;
    &--align-bio {
      width: 50%;
    }
    @include tablet {
      padding-top: 1rem;
      width: 20%;
      @include fontHeader-Desktop;
    }
  }
  @include tablet {
    &__logo--flex {
      display: flex;
    }
  }
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;

  & li {
    @include flexCenter;
    flex-basis: 50%;
    text-align: center;
    padding-bottom: 1rem;
    position: relative;

    &:hover {
      border-bottom: 2px solid $primaryWhite;
    }
    &:active {
      border-bottom: 2px solid $primaryWhite;
    }

    @include tablet {
      flex-basis: 0%;
    }
  }
  &__text {
    color: $secondarySilver;
    text-decoration: none;
    transition: color 0.2s, text-decoration 0.2s;
    @include fontBody-Mobile;

    &:hover,
    &:active {
      color: $primaryWhite;
    }
    &:active {
      font-weight: 700;
    }
  }
}
//  Footer
footer {
  background-color: $primaryBlack;
  color: $primaryWhite;
  @include fontFooter-Mobile;
  @include tablet {
    position: relative;
    @include fontFooter-Desktop;
  }
  .footer__logo {
    @include paddingMobile;
    padding-left: 1rem;

    &--align {
      display: flex;
      max-height: 1.25rem;
      max-width: 7.5rem;

      @include tablet {
        position: absolute;
        top: 4rem;
        width: 30%;
        right: 2.5rem;
      }
      @include desktop {
        right: 7rem;
      }
    }
  }
}
.social {
  &__icons {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding-left: 1rem;
    @include tablet {
      padding-top: 3.5rem;
      justify-content: space-evenly;
      width: 25%;
    }
  }
  &__title {
    @include tablet {
      padding-bottom: 0;
    }
    &-icons {
      @include tablet {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
      }
    }
  }
}
.contact {
  &__text {
    padding: 1rem 0;
  }
  &__email--underline {
    text-decoration: none;
    color: $primaryWhite;
    @include fontBody-Mobile;
  }
  &__info--one,
  &__info--two,
  &__info--three {
    padding-left: 1rem;
  }
  &__info--title {
    @include fontSubheader-Mobile;
    padding-top: 1.5rem;
  }
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    max-width: 90%;
    padding-left: 1.25rem;
  }
  @include desktop {
    max-width: 60%;
    padding-left: 4rem;
  }
}
.copyright__text {
  @include fontBody-Mobile;
  padding-left: 1rem;
  padding-bottom: 1rem;
  @include tablet {
    padding-bottom: 2rem;
    padding-left: 2.25rem;
    @include fontBody-Desktop;
  }
  @include desktop {
    padding: 0 0 2rem 5rem;
  }
}