// Colours
$primaryBlack: #323232;

$primarySilver: #afafaf;

$primaryWhite: #ffffff;

$secondaryBlack: #000000;

$secondarySilver: #e1e1e1;

$secondaryWhite: #fafafa;

// Breakpoints
$mobileBreakpoint: 47.9375rem;

$tabletBreakpoint: 48rem;

$desktopBreakpoint: 80rem;
