@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/font/NunitoSans-Regular.woff") format("woff"), url("/assets/font/Alternative files/NunitoSans-Medium") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/font/NunitoSans-Medium.woff") format("woff"), url("/assets/font/Alternative files/NunitoSans-Medium") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/font/NunitoSans-Bold.woff") format("woff"), url("/assets/font/Alternative files/NunitoSans-Bold") format("woff2");
  font-weight: 700;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Nunito Sans";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  h1 {
    font-family: "Nunito Sans";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

h2 {
  font-family: "Nunito Sans";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  h2 {
    font-family: "Nunito Sans";
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

h3 {
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  h3 {
    font-family: "Nunito Sans";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}

body p {
  font-family: "Nunito Sans";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  body p {
    font-family: "Nunito Sans";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

main p {
  padding: 1rem 0;
}

.header--color {
  background-color: #323232;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.header--align {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.header__text {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48rem) {
  .header__logo--flex {
    display: flex;
  }
}

.header__text---align-bio {
  width: 50%;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
}
.nav-bar li {
  padding: 0.9375rem 0;
}
.nav-bar li:hover {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
  padding: 0.9375rem 0;
}
.nav-bar li:active {
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
}
.nav-bar__text {
  color: #e1e1e1;
  text-decoration: none;
  transition: color 0.2s, -webkit-text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s;
  transition: color 0.2s, text-decoration 0.2s, -webkit-text-decoration 0.2s;
  font-family: "Nunito Sans";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.hero {
  height: 12rem;
  width: 100%;
  background-size: cover;
  background-image: url(/assets/images/hero-bio.jpg);
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero__title {
  color: #ffffff;
  z-index: 3;
  padding-left: 1rem;
}
.hero__overlay {
  background-color: #323232;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
  height: 12rem;
  width: 100%;
}

.about {
  margin: 0 1rem;
}
.about__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__quote {
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about {
    font-family: "Nunito Sans";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}

.gallery {
  padding: 0 1rem;
  background-color: #fafafa;
}
.gallery__photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 48rem) {
  .gallery__photo {
    width: 30%;
  }
  .gallery__row--one, .gallery__row--two, .gallery__row--three {
    display: flex;
    flex-direction: row;
  }
}

footer {
  background-color: #323232;
  color: #ffffff;
  padding: 0 1rem;
}
footer__logo--align {
  max-height: 1.25rem;
  max-width: 7.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.social__title {
  width: 60%;
}
.social__icons {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.contact__text {
  padding: 1rem 0;
}
.contact__email--underline {
  text-decoration: none;
  color: #ffffff;
  font-family: "Nunito Sans";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.contact__info--title {
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 1.5rem;
}
@media (min-width: 48rem) {
  .contact {
    display: flex;
  }
}

.copyright__text {
  font-family: "Nunito Sans";
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}/*# sourceMappingURL=bio.css.map */