@use "./partials/global" as *;
@use "./partials/font" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.shows__hero {
  @include heroBackground; 
  background-image: url(/assets/images/hero-shows.jpg);
  padding: 2% 0;

  & p {
    color: $primaryWhite;
    z-index: 3;
  }
  &--overlay {
    @include heroOverlay;
  }
  &-content {
    display: flex;
    flex-direction: column;
    @include tablet {
      padding-left: 1.25rem;
    }
    @include desktop {
      flex-direction: row;
    }
  }
  &-container {
    min-width: 70%;
  }
}
.shows__title--position {
  h1 span {
    display: block;
  }
  display: flex;
}
.shows__text--position {
  display: flex;
  padding-left: 1rem;
  width: 60%;
  @include fontBody-Mobile;

  @include tablet {
    @include fontBody-Desktop;
  }
  @include desktop {
    padding-left: 5rem;
  }
}
.show {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $secondarySilver;
  
  @include tablet {
    display: flex;
    justify-content: space-between;
    }
  @include tablet {
    padding: 1.5rem 1.125rem;
    display: flex;
    flex-direction: row;
    }

  h2 {
    @include tablet {
      position: absolute;
      padding-left: 1rem;
    }
    }

  &-list {
    @include tablet {
    width: 100%;
    @include fontBody-Desktop
    }
    @include desktop {
    width: 100%;
    }
    &__content {
      display: none; 
      @include tablet {
        display: flex;
        color: $primarySilver;
        padding-top: 7rem;
        padding-left: 1rem;
        width: 100%;
        justify-content: space-between;
        max-width: 65%;
      }
      @include desktop {
        padding-top: 0;
      }
    }
    &__container {
      width: 100%;
      @include desktop {
        width: 80%;
        position: relative;
        left: 13rem;
        top: 4rem;
        padding-bottom: 3rem;
      }
    }
    &__info {
      display: flex;
      color: blue;

      @include tablet {
      justify-content: space-between;
      width: 65%;
      padding-left: 1.125rem;
      padding-top: 4rem;
      }
    }
      .show {
        align-items: center;
        &:hover {
          background-color: $secondaryWhite;
          cursor: pointer;
        }
        &:active {
          background-color: $secondarySilver;
          cursor: pointer;
        }
      }
  }


  &-list__dateSubheader, &-list__venueSubheader, &-list__locationSubheader {
    color: $primarySilver;

    @include tablet {
      display: none;
    }
  }
  &-list__date {
    font-weight: 700;
    padding-bottom: 0;
  }
  &-list__venue , &-list__location {
    padding-bottom: 0;
  }
  &-list__tickets{
    background-color: $primaryBlack;
    color: $primaryWhite;
    border-radius: .25rem;
    width: 100%;
    height: 48px;
    cursor: pointer;
    @include flexCenter;
    @include fontLabel-Mobile;
    @include fontLabel-Desktop;
    &:hover {
      background-color: $secondaryBlack;
    }
    @include tablet {
      min-width: 10rem;
      max-width: 20rem;
      width: 0%;
    }
  }
}
iframe {
  width: 20rem;
  height: 6rem;
  object-fit: cover;
}
.iframe {
  overflow: hidden;
  height: 6rem;

  &__container {
  display: flex;
  z-index: 4;
  padding: 1rem;
  align-items: center;
  }

  &__style {
    display: none;
  }
}