@use "./partials/global" as *;
@use "./partials/font" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.shows__hero {
  height: 45vw;
  min-height: 300px;
  max-height: 700px;
  width: 100%;
  background-size: cover;
  background-image: url(/assets/images/hero-shows.jpg);
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & p {
    color: $primaryWhite;
    z-index: 3;
  }
  &--overlay {
    background-color: $primaryBlack;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
    height: 45vw;
    min-height: 300px;
    max-height: 700px;
    width: 100%;
  }
}
