@use "./partials/global" as *;
@use "./partials/font" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.shows__hero {
  @include heroBackground; 
  background-image: url(/assets/images/hero-shows.jpg);
  padding: 2% 0;

  & p {
    color: $primaryWhite;
    z-index: 3;
  }
  &--overlay {
    @include heroOverlay;
  }
  &-content {
    display: flex;
    flex-direction: column;
  }
}
.shows__title--position {
  display: flex;
  width: 60%;
}
.shows__text--position {
  display: flex;
  padding-left: 1rem;
  @include fontBody-Mobile;

  @include tablet {
    padding-left: 2.25rem;
    @include fontBody-Desktop;
  }
  @include desktop {
    padding-left: 5rem;
  }
}
.iframe {
  display: flex;
  z-index: 4;
  padding: 1rem;

  @include tablet {
    padding-left: 2.25rem;
  }
  @include desktop {
    padding-left: 5rem;
  }
}
#show-lost .show-list {
  color: black;
  height: 30rem;
}
